<!DOCTYPE html>
<section class="infoWeather">
    <div class="infoWeather__inner">
        <div class="weatherList weatherList--desktop">
            <div class="weatherList__weather weatherList__weather--active">
                <h3>Today's weather in {{weather.name}}</h3>
                <div class="weatherList__box">
                    <div class="weatherList__boxItems">
                        <div class="weatherList__boxItem">
                            <div class="weatherList__boxItemIconWrapper">
                                <img src="assets/weather icons/{{weather.weatherIcon}}.svg"
                                    class="weatherList__boxItemIcon" alt="weather">
                            </div>
                            <div class="weatherList__boxItemContent">
                                <div class="weatherList__boxItemRow">
                                    <div class="weatherList__boxItemCell weatherList__boxItemCell--textBig">
                                        {{weather.temp}}℃
                                    </div>
                                    <div class="weatherList__boxItemCell weatherList__boxItemCell--textMedium">Max temp:
                                        {{weather.maxTemp}}℃
                                    </div>
                                </div>
                                <div class="weatherList__boxItemRow">
                                    <div class="weatherList__boxItemCell weatherList__boxItemCell--label">Pressure:
                                    </div>
                                    <div class="weatherList__boxItemCell weatherList__boxItemCell--value">
                                        {{weather.pressure}} hPa
                                    </div>
                                </div>
                                <div class="weatherList__boxItemRow">
                                    <div class="weatherList__boxItemCell weatherList__boxItemCell--label">Weather:
                                    </div>
                                    <div class="weatherList__boxItemCell weatherList__boxItemCell--value">
                                        {{weather.weather}}
                                    </div>
                                </div>
                            </div>
                            <div class="weatherList__boxItemIconWrapper">
                                <button (click)="onClick()"><img src="assets/refresh.svg"
                                        class="weatherList__boxItemIconButton" alt="button">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>