<!DOCTYPE html>
<header id="main-header" data-height-onload="44" data-height-loaded="true" data-fixed-height-onload="44"
  style="top: -3px;" class="et-fixed-header">
  <div class="container clearfix et_menu_container">
    <div class="logo_container">
      <span class="logo_helper"></span>
      <a href="localhost:4200/">
        <img src="assets/logo.jpg" alt="DevRun23 - sport, bieganie, triathlon, programowanie" id="logo"
          data-height-percentage="80" data-actual-width="544" data-actual-height="146">
      </a>
    </div>
  </div>
</header>