<section class="sidebar">
    <div class="main-menu-header">
        <div fxLayout='row' fxFlex="90%">
        </div>
    </div>

    <div class="main-menu">
        <mat-list>
            <div>
                <app-weather></app-weather>
            </div>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Notes</h3>
            <mat-list-item>
                <mat-icon mat-list-icon>note</mat-icon>
                <h4 mat-line>
                    <a href="#">Notatki</a>
                </h4>
            </mat-list-item>
        </mat-list>
    </div>
</section>