<p>slider works!</p>

<swiper [config]="config">

  <div class="swiper-wrapper">

    <div class="swiper-slide" *ngFor="let slide of slideData">
      <img src="https://i.picsum.photos/id/{{slide.id}}/400/300.jpg" />
      {{slide.name}}
    </div>

  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</swiper>
<div>
  <button (click)="openModal('add-medal')">Add medal image</button>
</div>

<jw-modal id="add-medal" position="relative">
  <button class="close" (click)="closeModal('add-medal');">X</button>
  <div class="container" style="width:600px">
    <app-upload-files></app-upload-files>
  </div>
</jw-modal>