<div position="relative">
  <swiper [config]="config">

    <div class="swiper-wrapper">

      <div class="swiper-slide" *ngFor="let slide of slideData">
        <img src="http://localhost:8080/api/files/{{slide.name}}" />
      </div>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

  </swiper>
  <div>
    <a mat-button class="upload-icon" (click)="openModal('add-medal')">
      <mat-icon svgIcon="uploadicon"></mat-icon>
    </a>
  </div>
</div>

<jw-modal id="add-medal" position="relative">
  <button class="close" (click)="closeModal('add-medal');">X</button>
  <div class="container" style="width:600px">
    <app-upload-files></app-upload-files>
  </div>
</jw-modal>