.tweets-container {
    position : relative;
    max-height: 400px;
	overflow: auto;
}

.container {
    position : relative;
    a {
        float:left;
    }
    p {
        float:left;
            margin-top: 16px;
    }
}
.text-content{
    clear:left;
    margin-top: -20px;
    margin-bottom: 0px;
}

.icon{
    padding-left: 0px;
    margin-left: -12px;
}
