<nav class="navbar">
  <div class="brand-title">DevRun23</div>
  <a href="#" class="toggle-button" (click)="toggleNavbar()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links" [ngClass]="{'active': navbarOpen}">
    <ul routerLinkActive="active">
      <li><a href="#">Home</a></li>
      <li><a href="/run">Run</a></li>
      <li><a href="/triathlon">Triathlon</a></li>
      <li><a href="/contact">Contact</a></li>
      <li *ngIf="showAdminBoard"><a href="/coding">Coding</a></li>

      <li *ngIf="!isLoggedIn"><a href="/register" routerLink="register">SignUp</a></li>
      <li *ngIf="!isLoggedIn"><a href="/login" routerLink="login">LogIn</a></li>

      <li *ngIf="isLoggedIn"><a href="/profile" routerLink="profile">{{username}}</a></li>
      <li *ngIf="isLoggedIn"><a href (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>