<div class="col-md-12">
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" validate>
        <div class="name-section">
            <div class="form">
                <input type="text" name="username" [(ngModel)]="form.username" required minlength="1" maxlength="20"
                    #username="ngModel" />
                <label for="username" class="label-name">
                    <span class="content-name"> Name</span>
                </label>
            </div>
        </div>
        <div class="email-section">
            <div class="form">
                <input type="email" name="email" [(ngModel)]="form.email" required #email="ngModel" />
                <label for="email" class="label-name">
                    <span class="content-name"> Email</span>
                </label>
            </div>
        </div>
        <div class="subject-section">
            <div class="form">
                <input type="text" name="subject" [(ngModel)]="form.subject" required minlength="3" maxlength="300"
                    #subject="ngModel" />
                <label for="subject" class="label-name">
                    <span class="content-name">Subject</span>
                </label>
            </div>
        </div>
        <div class="message-content">
            <div class="form">
                <textarea type="text" [(ngModel)]="form.message" name="form.message" required="" class="text-area"
                    id="message" placeholder="Type your massage here..." maxlength="300">
                </textarea>
            </div>
        </div>
        <br>
        <div class="button-content">
            <div class="form">
                <button class="btn btn-secondary">Send</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && !isSuccessful">
                Message not send! Check your data!<br />
            </div>
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
        You send a message!
    </div>
</div>